alias zshconfig="vim ~/.zshrc"
alias reload!="source ~/.zshrc"
alias lsr='tree -ChDvL $1 $2'
alias pull-all='find . -type d -name .git -execdir git pull -v ";"'
alias update-all='/usr/local/bin/update-all'
alias rm='rm -rf'
alias cls='clear'
alias cd..='cd ..'
alias ..='cd ..'
alias ll='ls -l'
alias la='ls -la'
alias l='ls'
alias lh='ls -lh'
alias git-goto=git_goto
alias ftp=lftp
alias k=kubectl
alias kx=kubectx
alias kn=kubens
alias dkr=docker
alias dkrc=docker-compose
