#!/bin/bash
if [ -x "$(command -v exa)" ]; then
  alias ls="exa -a --icons"
elif [ -x "$(command -v eza)" ]; then
  alias ls="eza -a --icons --color=auto"
elif [ -x "$(command -v gls)" ]; then
  alias ls="gls -a --color=auto"
else
  alias ls="ls -a --color=auto"
fi

if [ -x "$(command -v bat)" ]; then
  alias cat="bat"
fi

if [ -x "$(command -v zsh)" ]; then
  alias shrc="eval $EDITOR ~/.zshrc"
  alias reload!="source ~/.zshrc"
else
  alias shrc="eval $EDITOR ~/.bashrc"
  alias reload!="source ~/.bashrc"
fi

if [ -e "/usr/local/bin/update-all" ]; then
  alias update-all='/usr/local/bin/update-all'
fi

if [ -x "$(command -v tree)" ]; then
  alias lsr='tree -ChDvL $1 $2'
fi

if [ -x "$(command -v lftp)" ]; then
  alias ftp=lftp
fi

if [ -x "$(command -v git)" ]; then
  alias g=git
  alias pull-all='find . -type d -name .git -execdir git pull -v ";"'
  alias git-goto=git_goto
fi

if [ -x "$(command -v kubectl)" ]; then
  alias k=kubectl
fi

if [ -x "$(command -v kubectx)" ]; then
  alias kx=kubectx
fi

if [ -x "$(command -v kubens)" ]; then
  alias kn=kubens
fi

if [ -x "$(command -v docker)" ]; then
  alias dkr=docker
  alias dkrc=docker-compose
fi

# Darwin only
if [[ "$(uname -o)" == "Darwin" ]]; then

  if [ -x "$(command -v log)" ]; then
    alias tmlogs="log show --predicate 'subsystem == \"com.apple.TimeMachine\"' --info"
    alias tmstream="log stream --predicate 'subsystem == \"com.apple.TimeMachine\"' --info"
  fi

fi

# Linux commands
if [[ "$(uname -s)" == "Linux" ]]; then
  if [ -x "$(command -v i3)" ]; then
    alias i3conf="eval $EDITOR ~/.config/i3/config"
  fi

  if [ -x "$(command -v xclip)" ]; then
    alias pc='xclip -sel clip'
    alias pbcopy='xclip -sel clip'
    alias pp='xclip -o -sel clip'
    alias pbpaste='xclip -o -sel clip'
  fi

  if [ -x "$(command -v efibootmgr)" ]; then
    function wreboot () {
        sudo efibootmgr -n 0
        sudo reboot now
    }
  fi

  if [ -x "$(command -v yay)" ]; then
    alias cleanup='yay -Rns $(yay -Qtdq)'
  fi

fi

alias vim=nvim
alias rm='rm -rf'
alias cls='clear'
alias cd..='cd ..'
alias ..='cd ..'

alias ll='ls -l'
alias la='ls -la'
alias l='ls'
alias lh='ls -lh'
alias dot='cd $DOTFILES'
