#!/bin/bash
export GOPATH=$HOME/gopath
export KUBE_EDITOR='vim'
#export GOROOT=/usr/local
export GOPATH=$HOME/go
export DOTFILES=$HOME/Documents/Repositories/github.com/khaosdoctor/dotfiles
export PATH=$PATH:$GOPATH/bin:$GOROOT/bin:$HOME/bin
# If bat is installed set its theme
export BAT_THEME=Dracula
export DENO_DIR=$HOME/Library/Caches/deno
export DENO_INSTALL_ROOT=$HOME/.deno
export PATH=$PATH:$ANDROID_HOME/emulator:$ANDROID_HOME/tools:$ANDROID_HOME/tools/bin:$ANDROID_HOME/platform-tools:$HOME/.local/bin:$DENO_INSTALL_ROOT/bin
export CC="ccache cc"   
export CXX="ccache c++"
