#CUSTOM FUNCTIONS
gi() { curl -sLw n https://www.toptal.com/developers/gitignore/api/$@ ;}

gc () {
  local provider
  local repo
  local canAppend=false
  local path=`pwd`
  local dirSplit=("${(@s:/:)path}")
  for part in $dirSplit; do
    if $canAppend; then
      repo=$repo$part/
      continue
    fi
    if [[ $part =~ "\w*\.(\w*|com)" ]]; then
      provider=$part
      canAppend=true
      continue
    fi
  done
  /usr/bin/git clone "https://$provider/$repo$1.git" ${2:=1}
}

git_goto () {
  find . -name .git -type d -execdir git checkout $1 ";"
}

docker_prune () {
  docker rmi `docker images | awk '{ print $3; }'`
}

mkcd () {
  mkdir -p $1 && cd $1
}
