init.author.email=hello@lsantos.dev
init.author.name=Lucas Santos
init.author.url=https://lsantos.dev/
init.license=GPL-3.0
init.version=0.0.1
sign-git-tag=true
user=0
unsafe-perm=true
//registry.npmjs.org/:_authToken=656504ee-e41b-4278-ba66-6946fa99213d
