#!/bin/bash
# THIS NEEDS TO BE HERE OTHERWISE GIT STOPS WORKING (https://github.com/keybase/keybase-issues/issues/2798)
export GPG_TTY=$(tty)
###################################################

# Default terminal
export SSH_AUTH_SOCK=$HOME/.1password/agent.sock
export TERMINAL=rio
export ASDF_DATA_DIR=$HOME/.asdf
export POSTING_THEME_DIRECTORY=$HOME/.config/posting/themes
export PIPX_BIN_DIR=$HOME/.local/bin
export GOPATH=$HOME/gopath
export KUBE_EDITOR='vim'
#export GOROOT=/usr/local
export GOPATH=$HOME/go
export DOTFILES=$HOME/Documents/Repositories/github.com/khaosdoctor/dotfiles
# If bat is installed set its theme
export BAT_THEME=Dracula
export DENO_DIR=$HOME/Library/Caches/deno
export DENO_INSTALL_ROOT=$HOME/.deno
export PATH=$HOME/.lmstudio/bin:$ASDF_DATA_DIR/shims:$DENO_INSTALL_ROOT/bin:$HOME/.local/bin:$GOPATH/bin:$GOROOT/bin:$HOME/bin:$HOME/.local/bin:$PATH
export CC="ccache cc"
export CXX="ccache c++"
export NODE_OPTIONS="--no-warnings"

if [[ "$TERM" == "xterm-kitty" ]]; then
    TERM='xterm-256color'
fi

# Linux distros only
if [[ "$(uname -s)" == "Linux" ]]; then
    # Set the session to sway so it fixes some things
    if [ -n "$SWAYSOCK" ]; then
        export SDL_VIDEODRIVER=wayland
        export _JAVA_AWT_WM_NONREPARENTING=1
        export QT_QPA_PLATFORM=wayland
        export XDG_CURRENT_DESKTOP=sway
        export XDG_SESSION_DESKTOP=sway
        # This fixes some bugs where electron applications won't work in secondary monitors
        export ELECTRON_OZONE_PLATFORM_HINT=wayland
    fi
fi

# Darwin only
if [[ "$(uname -o)" == "Darwin" ]]; then
    # Exports homebrew paths
    brewPath="$(command -v brew)"
    eval "$($brewPath shellenv)"
fi
