[user]
  name = Lucas Santos
  email = lhs.santoss@gmail.com
  signingkey = E7C5AB8895204C87
[core]
  autocrlf = false
  eol = lf
  editor = vim
[credential]
  helper = store
[alias]
  st = status
  co = checkout
  ps = push
  pl = pull
  cm = commit
  ca = commit -a
  br = branch
[push]
  default = simple
  followTags = true
[rerere]
  enabled = true
[color]
  branch = auto
  diff = auto
  status = auto
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[diff]
  mnemonicprefix = true
  tool = vscode-diff
[difftool "vscode-diff"]
  cmd = code --diff $LOCAL $REMOTE
[gpg]
  program = /usr/local/bin/gpg
[commit]
  gpgsign = true
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[pager]
  branch = false
