# Set keyboard layout to us intl and fix other stuff (migrated from i3)
exec_always ~/.config/i3/custom/scripts/set-locale.sh

# Sway config for input devices
input type:keyboard {
    # 180 ms before repeating keys
    repeat_delay 180 
    # full list of variants is found at the command "man 7 xkeyboard-config"
    # US keyboard layout
    xkb_layout us 
    # International variant with dead keys
    xkb_variant intl 
    # Make Caps Lock an additional Escape key
    xkb_options caps:escape 
}
