# Focus first monitor on start
focus output DP-1

# OLED Monitor Left
output DP-1 {
    mode 3840x2160@240Hz
    position 0 0
    scale 1.25
}

# portrait second monitor
output DP-2 transform 90 {
    mode 1440x2560@165Hz
    # 3840 at a 1.25 scale is 3840 / 1.25 = 3072
    # For the Y it was trial and error
    # Left side (transform 90)
    position -1440 -450
    # Right side (transform 270)
    # position 3072 -665
}

# landscape second monitor
# output DP-2 {
#     mode 2560x1440@165Hz
#     # 3840 at a 1.25 scale is 3840 / 1.25 = 3072
#     # For the Y it was trial and error
#     position 0 3072
# }

workspace 1 output DP-1
workspace 2 layout default, split vertical

exec_always --no-startup-id "/home/khaosdoctor/.config/sway/custom/scripts/random_bg.sh"
