# Focus first monitor on start
focus output DP-1

# OLED Monitor Left
output DP-1 {
    mode 3840x2160@240Hz
    position 0 0
    scale 1.25
}

output DP-2 {
    mode 2560x1440@165Hz
    # 3840 at a 1.25 scale is 3840 / 1.25 = 3072
    position 3072 0
}

workspace 1 output DP-1

exec_always --no-startup-id "/home/khaosdoctor/.config/sway/custom/scripts/random_bg.sh"
