# general window configs
for_window [all] title_window_icon yes
for_window [all] title_window_icon padding 10px

# Windows:
#
# Find the app_id or class of a window by inspecting the result of swaymsg -t get_tree.
#
# some inspiration: https://www.reddit.com/r/swaywm/comments/q90v6l/sharing_some_for_window_rules
# set floating for certain apps
for_window [class="vlc"] floating enable, border none
for_window [app_id="spotify"] floating enable, border normal, move position center, resize set 45ppt 70ppt
for_window [class="steam"] floating enable, border none, move position center, resize set 45ppt 70ppt
for_window [app_id="1Password"] floating enable, border normal, move position center, set 45ppt 70ppt
for_window [instance="1password"] floating enable, border none, move position center
for_window [app_id="virt-manager"] floating enable, border normal
for_window [app_id="copyq"] floating enable, sticky enable, resize set height 600px width 550px, move position cursor, move down 330
for_window [app_id="org.gnome.Calculator"] floating enable, border none, move position cursor
for_window [app_id="firefox"] border none

# Open some apps on the second monitor
for_window [app_id="com.rtosta.zapzap"] move container to workspace 2, split vertical, layout default
for_window [app_id="org.telegram.desktop"] move container to workspace 2, split vertical, layout default
for_window [app_id="discord"] move container to workspace 2, split vertical, layout default

# set floating for window roles
for_window [window_role="pop-up"] floating enable
for_window [window_role="bubble"] floating enable
for_window [window_role="task_dialog"] floating enable
for_window [window_role="Preferences"] floating enable
for_window [window_type="dialog"] floating enable
for_window [window_role="dialog"] floating enable
for_window [window_type="menu"] floating enable
for_window [window_role="About"] floating enable
for_window [title="File Operation Progress"] floating enable, border pixel 1, sticky enable, resize set width 40 ppt height 30 ppt
