# Windows:
#
# Find the app_id or class of a window by inspecting the result of swaymsg -t get_tree.
#
# some inspiration: https://www.reddit.com/r/swaywm/comments/q90v6l/sharing_some_for_window_rules
# set floating for certain apps
for_window [class="vlc"] floating enable, border none
for_window [instance="spotify"] floating enable, border normal, move position center, resize set 45ppt 70ppt
for_window [app_id="virt-manager"] floating enable, border normal
for_window [app_id="copyq"] floating enable, sticky enable, resize set height 600px width 550px, move position cursor, move down 330
for_window [app_id="org.gnome.Calculator"] floating enable, border none, move position cursor

# set floating for window roles
for_window [window_role="pop-up"] floating enable
for_window [window_role="bubble"] floating enable
for_window [window_role="task_dialog"] floating enable
for_window [window_role="Preferences"] floating enable
for_window [window_type="dialog"] floating enable
for_window [window_role="dialog"] floating enable
for_window [window_type="menu"] floating enable
for_window [window_role="About"] floating enable
for_window [title="File Operation Progress"] floating enable, border pixel 1, sticky enable, resize set width 40 ppt height 30 ppt
