[Unit]
Description=Run elephant on Hyprland startup

[Service]
Type=exec
ExecStart=/usr/bin/elephant
Restart=always

[Install]
WantedBy=graphical-session.target
