[Unit]
Description=Run elephant on Hyprland startup
After=graphical-session.target

[Service]
Type=exec
ExecStart=/usr/bin/elephant
Restart=on-failure
