[Unit]
Description=Ollama Service
After=network-online.target

[Service]
ExecStart=/usr/bin/ollama serve
Restart=always
User=ollama
Group=ollama
RestartSec=3
Environment="PATH=$PATH"

[Install]
WantedBy=multi-user.target
