[Unit]
Description=Ollama Service

[Service]
ExecStart=/usr/bin/ollama serve
Restart=always
RestartSec=3
Environment="OLLAMA_CONTEXT_LENGTH=64000"

[Install]
WantedBy=default.target
