[Unit]
Description=Start Walker launcher after Elephant
BindsTo=elephant.service
After=elephant.service

[Service]
Type=exec
ExecStart=/usr/bin/walker --gapplication-service
Restart=always
StartLimitBurst=20

[Install]
WantedBy=graphical-session.target
