# Depends on the timer unit with the same name
# Make sure to systemctl --user enable --now wallpaper-changer.timer upon setting up the units

[Unit]
Description=Change wallpaper with Waypaper and update colors

[Service]
Type=oneshot
# Variables are needed because it won't get all the user defined variables
Environment=DISPLAY=:0
Environment=WAYLAND_DISPLAY=wayland-1
Environment=XDG_CURRENT_DESKTOP=Hyprland
# I have absolutely no idea why it works with $() and not withtout the subshell, but this is how it works...
ExecStart=/bin/bash -c 'wallpaper=$(waypaper --random --state-file=%h/.local/state/waypaper/state.ini --folder=%h/.local/wallpapers/landscape)'
