/*
scheme: "Nord"
author: "arcticicestudio"
*/

/* @define-color base10 #2E3440; */
/* @define-color base00 #3B4252; */
/* @define-color base02 #434C5E; */
/* @define-color base03 #4C566A; */
/* @define-color base04 #D8DEE9; */
/* @define-color base05 #E5E9F0; */
/* @define-color base06 #ECEFF4; */
/* @define-color base07 #8FBCBB; */
/* @define-color base08 #88C0D0; */
/* @define-color base09 #81A1C1; */
/* @define-color base0A #5E81AC; */
/* @define-color base0B #BF616A; */
/* @define-color base0C #D08770; */
/* @define-color base0D #EBCB8B; */
/* @define-color base0E #A3BE8C; */
/* @define-color base0F #B48EAD; */
@import "/home/khaosdoctor/.cache/wal/colors-wofi.css";

* {
    font-family: 'Roboto'
}

#entry {
    padding: 5px 2px 5px 2px;
    margin: 0px 4px 0px 4px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#entry:selected {
    color: @foreground;
    background-color: @background;
    padding: 7px;
    border-radius: 0;
}

#text:selected {
    color: @color14;
}

#window {
    background-color: transparent;
    border-radius: 0;
}

#input {
    border: none;
    background-color: @background;
    border-radius: 0;
    margin: 4px 4px 8px 4px;
    padding: 8px;
}

#inner-box {
    color: rgba (255, 0, 0, 0.3);
    border-radius: 0;
    font-weight: 600;
}

#outer-box {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid @color1;
    padding: 7px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px @color1;
    margin: 5px;
}

#text {
    color: @foreground;
    background-color: transparent;
}

#img {
    background-color: transparent;
    margin-right: 10px;
}
