[Desktop Entry]
Type=Application
Name=Spotify
GenericName=Music Player
Icon=spotify-client
TryExec=ELECTRON_OZONE_PLATFORM_HINT=auto spotify
Exec=ELECTRON_OZONE_PLATFORM_HINT=auto spotify --uri=%u
Terminal=false
MimeType=x-scheme-handler/spotify;
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=spotify
