# class                 border  bground text    indicator child_border
client.focused          #131313 #00ff00 #131313 #131313   #444444
client.focused_inactive #202020 #202020 #F8F8F2 #202020   #202020
client.unfocused        #131313 #131313 #BFBFBF #282A36   #282A36
client.urgent           #FF5555 #FF5555 #F8F8F2 #FF5555   #FF5555
client.placeholder      #282A36 #282A36 #F8F8F2 #282A36   #282A36

client.background       #F8F8F2

#bar {
#  colors {
#    background #282A36
#    statusline #F8F8F2
#    separator  #44475A
#
#    focused_workspace  #44475A #44475A #F8F8F2
#    active_workspace   #282A36 #44475A #F8F8F2
#    inactive_workspace #282A36 #282A36 #BFBFBF
#    urgent_workspace   #FF5555 #FF5555 #F8F8F2
#    binding_mode       #FF5555 #FF5555 #F8F8F2
#  }
#}
